body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  table tr:hover {
    background-color: #f9f9f9;
  }
  
  .editButton,
  .deleteButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editButton {
    background-color: #ffc107;
    margin-right: 5px;
  }
  
  .logoutbtn{
    display: flex;
    justify-content: flex-end;
  }